"Boot Gentoo Linux" "root=UUID=11111111-1111-1111-1111-111111111111 rw rootfstype=btrfs rootflags=subvol=/@ initrd=\initramfs-X.Y.Z-example.img"
"Boot Gentoo Linux (debug)" "root=UUID=11111111-1111-1111-1111-111111111111 rw rootfstype=btrfs rootflags=subvol=/@ initrd=\initramfs-X.Y.Z-example.img rd.debug rd.shell"
"Boot Gentoo Linux (single-user)" "root=UUID=11111111-1111-1111-1111-111111111111 rw rootfstype=btrfs rootflags=subvol=/@ initrd=\initramfs-X.Y.Z-example.img single"
