{{- $gitName := promptStringOnce . "gitName" "Git author name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git author email" -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    gitEmail = {{ $gitEmail | quote }}
    gitName = {{ $gitName | quote }}
